@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

$fancy-font: 'Lobster', cursive;
$simple-font: 'Montserrat', sans-serif;
$strong-yellow: #F9C543;
$soft-yellow: #FFFDF2;
$medium-yellow: #FFE8AD;
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    
}